export DOES_PROJECT_DIR=/Users/nikolaj4o/Desktop/rust_stuff/zkmlgpt
# name of ssh key used for setting up access to aws machines
export DOES_SSH_KEY_NAME=~/.ssh/navramov_ire.cer

export DOES_AWS_USER=ubuntu
